@charset "utf-8";
/* CSS Document */
@font-face{
	font-family: "Open Sans";
	src: url("C:\Users\Angelo\Downloads\John Haynes Website\Open Sans\OpenSans-VariableFont_wdth,wght.ttf");
}
body{
	width: 100%;
	box-sizing: border-box;
	background-color: white;
	margin-left: inherit;
	margin-right: inherit;
	margin-top: -22px;

}

* p{
   font-family: "Open Sans", sans-serif;
   font-size: 20px;
}

* h2{
	font-family: "Open Sans", sans-serif;
	display: block;
	font-size: 30px;


}

.wrapper{
	width: 100%;
	margin-left: 0 auto;
	margin-right: 0 auto;
	margin-bottom: 50px;
	background-color: #71366e;
	text-align: center;
}

img{
	float: left;
	padding-left: 10px;
	padding-right: 8px;
	
}

nav{
	padding-bottom: 88px;
	padding-top: 8px;
	background-color: #f9f0ff;

}
 * ul{
	list-style-type: none; 
 }

.menu{
    float: left;
	text-decoration: none;
    color: #673163;
	padding-right: 18px;
	padding-left: 10px;
	padding-top:32px;
	font-size: 20px;
	transition-duration: 0.3s;
	font-family: "Open Sans", sans-serif;

}

.social{
	float:right;
	text-decoration: none;
	color: #673163;
	padding-right:20px;
	padding-top: 25px;
	transition-duration:0.3s;

}
	

a:hover{
    color: #C8C1C1;
}


.imagecontainer{
	display: flex;
	justify-content: center;
    align-items: center;
	background-color: white;

}

.imagecontainer img {
  max-width: 100%;
  max-height: 100%;
  padding: 0; 
  margin: 0 auto;
  display: block;
  padding-top: 30px;
  padding-bottom: 21px;
}

.text{
	color: white;
}

.pfooter{
	width: 100%;
	margin: 0 auto;
	margin-bottom: -150px;
	text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: #f9f0ff;
}

.pfooter p{
    font-size: inherit;
}


